@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto'; 
    color: #000000; 
    overflow: auto;
}

#popup{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    margin-top: 90%;
    margin-right: -115%;
    flex-direction: column;
    width: 350px;
    z-index: 1000;
    padding: 10px;
}

#conteudo{
    padding: 6px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 255);
    border: solid black 0.1px;
    border-radius: 7px;
    gap: 10px;
}

#titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin-left: 5%;
}

#titulo h2{
    margin-right: 4%;
    margin-top: 1%;
    font-size: 20px;
    margin-bottom: 0.5%;
}

#titulo h2:hover{
    cursor: pointer;
}


#underlineNoti{
    position: relative;
    z-index: 2;
    height: 2.5px;
    background: #bdbdbd;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

#underlineActiveNoti{
    position: absolute;
    z-index: 10;
    height: 2.5px;
    width: 6vh;
    background: #000000;
    margin-bottom: 1%;
    transition: transform 0.5s ease-out;
}

#titulo h2.activeNotificacao #underlineActive{
    transform: scaleX(1);
}

.cardNoti{
    overflow-y: auto;
    height: 30vh;
    width: fit-content;
}

.cardNoti::-webkit-scrollbar{
    width: 5px;
}

.cardNoti::-webkit-scrollbar-thumb{
    background: #66666696;
}

.cardNoti::-webkit-scrollbar-thumb:hover{
    background: rgba(80, 80, 80, 0.588);
}

#listaTarefas::-webkit-scrollbar-thumb:active{
    background: rgba(41, 41, 41, 0.816);
}

#hoje p{
    font-size: large;
}

#close:hover{
    cursor: pointer;
}

#semNotificacoes{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    padding-bottom: 9%;
}

#semNotificacoes img{
    filter: invert();
    height: 7vh;
    margin-top: 10%;
}

#semNotificacoes h2{
    font-size: 20px;
    font-weight: bold;
}

.notifications{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    border-bottom: #bdbdbd 2px solid;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.tarefaNome{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: 5%;
    margin-right: 4%;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 20%;
    text-align: end;
}

.horaTarefas{
    margin: 0;
    margin-bottom: 4%;
    padding: 0;
}

.diaTarefas{
    margin: 0;
    margin-bottom: 10%;
    padding: 0;
}

.notifications img{
    width: 15%;
    height: 15% ;
}

.notifications img + #alert{
    display: flex;
}

.activeNoti{
    position: relative;
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-bottom: 3vh solid #000000;
    margin-left: 80%;
}
  
.activeNoti::before{
    content: "";
    position: absolute;
    top: 0.2vh;
    left: -1.9vh;
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-bottom: 3vh solid #ffffff;
}

#divNoti {
    position: relative;
    margin-right: 5%;
    overflow: visible;
}

#haveNotification{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 10%;
    border-radius: 100%;
    overflow: hidden;
    height: 2vh;
    width: 2vh;
    background: #1E8661;
}

#fotoPerfil{
    margin-bottom: 10%;
}

.activePerfil{
    position: relative;
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-bottom: 3vh solid #000000;
    margin-left: 59%;
}
  
.activePerfil::before{
    content: "";
    position: absolute;
    top: 0.2vh;
    left: -1.9vh;
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-bottom: 3vh solid #ffffff;
}

#popupPerfil{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3.3%;
    margin-right: 1.2%;
    flex-direction: column;
    width: 100px;
    z-index: 1000;
    font-size: 12px;
}

#conteudoPerfil{
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 255);
    border: solid black 0.1px;
    border-radius: 7px;
    gap: 10px;
}

#conteudoPerfil h2{
    margin: 0;
    padding-top: 12%;
    padding-bottom: 12%;
    font-size: 20px;
    font-weight: 500;
}

#conteudoPerfil h2:hover{
    cursor: pointer;
}

#perfilPopup{
    border-bottom: #000000 2px solid;
}

#alert{
    z-index: 9000;
    position: absolute;
    display: none;
    text-align: end;
    width: fit-content;
    right: 0;
    height: fit-content;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-top: 2%;
    margin-right: 1%;
    border-radius: 1vh;
    background-color: #000000;
    color: white;
    font-size: 13px;
    opacity: 0;
    transition: 'opacity 1.5s'
}

#alert h2{
    font-size: 18px;
    font-weight: bold;
}

#alertNoti{
    z-index: 9000;
    position: absolute;
    display: none;
    text-align: end;
    width: fit-content;
    right: 0;
    height: fit-content;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 0.7%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 1vh;
    background-color: #000000;
    color: white;
    font-size: 13px;
    opacity: 0;
}

#alertNoti h2{
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-height: 580px) {
    #popup{
        margin-right: -180%;
    }
}

@media only screen and (min-height: 657px) {
    #popup{
        margin-right: -90%;
    }
}
 
@media only screen and (min-height: 956px) {
    #popup{
        margin-right: -50%;
    }
}

@media only screen and (min-height: 1140px) {
    #popup{
        margin-right: -30%;
    }
}

@media only screen and (max-width: 890px) {
    #popupPerfil{
        margin-top: 5.5%;
    }
}

@media only screen and (min-height: 825px) {
    #popupPerfil{
        margin-top: 7.3%;
        width: 120px;
    }
    .activePerfil{
        margin-left: 47%;
    }
}

@media only screen and (min-width: 1310px) and (min-height: 1000px) {
    #popupPerfil{
        margin-top: 4.3%;
    }
    .activePerfil{
        margin-left: 45%;
    }
}

@media only screen and (max-width: 1392px) {
    #popupPerfil{
        margin-top: 4.6%;
    }
}

@media only screen and (min-height: 799px) and (max-width: 1310px) {
    #popupPerfil{
        margin-top: 4.3%;
    }
    .activePerfil{
        margin-left: 55%;
    }
}

@media only screen and (min-height: 825px) and (max-width: 1110px) {
    #popupPerfil{
        margin-top: 10.3%;
    }
    .activePerfil{
        margin-left: 50%;
    }
}

@media only screen and (min-height: 825px) and (min-width: 760px) and (max-width: 800px) {
    #popupPerfil{
        margin-top: 9.3%;
    }
    .activePerfil{
        margin-left: 57%;
    }
}

@media only screen and (min-height: 825px) and (max-width: 760px) {
    #popupPerfil{
        margin-top: 13.8%;
    }
    .activePerfil{
        margin-left: 47%;
    }
}

@media only screen and (max-width: 760px) and (max-height: 825px){
    #popupPerfil{
        margin-top: 7.8%;
    }
    .activePerfil{
        margin-left: 67%;
    }
}

@media only screen and (max-width: 672px) {
    #popupPerfil{
        margin-top: 9.3%;
    }
}

@media only screen and (max-width: 672px) and (min-height: 825px){
    #popupPerfil{
        margin-top: 14.3%;
    }
    .activePerfil{
        margin-left: 55%;
    }
}

@media only screen and (max-width: 574px) {
    #popupPerfil{
        margin-top: 12%;
    }
    .activePerfil{
        margin-left: 62%;
    }
}

@media only screen and (max-width: 574px) and (min-height: 825px){
    #popupPerfil{
        margin-top: 16.3%;
    }
}

@media only screen and (max-width: 532px) {
    #popupPerfil{
        margin-top: 11%;
    }
}

@media only screen and (max-width: 532px) and (min-height: 825px) {
    #popupPerfil{
        margin-top: 18.3%;
    }
}

@media only screen and (max-width: 452px) {
    #popupPerfil{
        margin-top: 12%;
    }
}

@media only screen and (max-width: 452px) and (min-height: 825px) {
    #popupPerfil{
        margin-top: 16.2%;
    }
    .activePerfil{
        margin-left: 65%; 
    }
}

@media only screen and (max-width: 414px) {
    #popupPerfil{
        margin-top: 13%;
    }
}

@media only screen and (max-width: 414px) and (min-height: 825px) {
    #popupPerfil{
        margin-top: 16.3%;
    }
}

@media only screen and (max-width: 384px) {
    #popup{
        width: 300px;
        margin-right: -100%;
    }
    #conteudo {
        height: 30vh;
    }
    #popupPerfil{
        margin-top: 15%;
    }
    .activePerfil {
        margin-left: 67%;
    }
}

@media only screen and (max-width: 384px) and (min-height: 665px) {
    #haveNotification{
        margin-top: 10%;
    }
}

@media only screen and (max-width: 384px) and (min-height: 739px) {
    #haveNotification{
        margin-top: 20%;
    }
}

@media only screen and (max-width: 384px) and (min-height: 891px) {
    #haveNotification{
        margin-top: 30%;
    }
}

@media only screen and (max-width: 384px) and (min-height: 1086px) {
    #haveNotification{
        margin-top: 40%;
    }
}

@media only screen and (max-width: 383px) and (min-height: 825px) {
    #popupPerfil{
        margin-top: 18.3%;
    }
}

@media only screen and (max-width: 342px) {
    #popupPerfil{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 342px) and (min-height: 825px) {
    #popupPerfil{
        margin-top: 19.3%;
    }
}

@media only screen and (max-width: 335px) {
    #popup{
        width: 200px;
        margin-right: -50%;
    }
    #conteudo {
        height: 30vh;
    }
    #popupPerfil{
        margin-top: 16%;
    }
}

@media only screen and (max-width: 335px) and (min-height: 825px) {
    #popupPerfil{
        margin-top: 20.3%;
    }
}

@media only screen and (max-width: 299px) {
    #popupPerfil{
        margin-top: 17.5%;
    }
    .activePerfil{
        margin-left: 68%;
    }
}

@media only screen and (max-width: 299px) and (min-height: 825px) {
    #popupPerfil{
        margin-top: 22.3%;
    }
}